!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_tag "application"
    %title Octotribble Blog Engine
    = javascript_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    -# javascript_tag 'some.js', :expand => true 
    %script{:type => "text/x-mathjax-config"}
      MathJax.Hub.Config({tex2jax:{inlineMath:[['$','$'],['$$','$$']]},"HTML-CSS":{linebreaks:{automatic:true}}});
  %body
    #header
      .container
        #logo
          %a{href: "/"}
            %img{:src => (image_path "iblue.png"), :height => "48", :width => "46"}
            %h1 iblue
        #topnav
          %h1 octotribble blog engine
          - cache "foo" do
            %p Generated #{Time.now}
    #main.container= yield
    #comments.container
      - @comments.all do |c|
        - cache "comment_#{c.id}" do
          %b=c.author_name
          %p=c.content
      %form{:action => "/comment", :method => "POST"}
        %fieldset
          %legend Schreibe einen Kommentar
          %input{:type => "hidden", :name => "comment[page]", :value => "index"}
          %label{:for => "comment_author_name"} Name
          %input{:type => "text", :placeholder => "Vorname Nachname", :id => "comment_author_name", :name => "comment[author_name]"}
          %label{:for => "comment_author_email"} E-Mail
          %input{:type => "text", :placeholder => "user@example.org", :id => "comment_author_email", :name => "comment[author_email]"}
          %label{:for => "comment_content"} Kommentar
          %textarea{:id => "comment_content", :name => "comment[content]", :rows => 3}
          %button.btn.btn-primary{:type => "submit"} Veröffentlichen
